In [ ]:
'''
Assignment 1
Joseph Kinzer
DSCI 2253
Due: 09/07/2025

'''

The first thing we are going to want to do, is create a code cell block and import pandas and matplotlib.pyplot. Add a code cell below and write code to import those two packages and execute.

The next thing we are going to do is pull in our dataframe. Be sure that you have the Restaurant_Sales.csv file in your same file folder that you have this notebook in. Add a code block and write the code to import your .csv and execute.

Hint: because we are importing a .csv file instead of a .tsv you don't need the "sep = " parameter, because .read_csv() uses sep = ',' automatically.

Next, lets take a look at the dataframe we just pulled into our notebook. Create and run 4 different code blocks, each with a different method that lets you view your data.

Now that we have checked out our dataframe, lets do some subsetting. For this section, do the following:

1) Subset the dataframe by creating a reference variable "sub_1_df" and create a new series from just the Price column. Display this new series using .head()

2) Subset the dataframe by creating a reference variable "sub_2_df" and create a new dataframe from the Product, Price, and City columns. Display this new dataframe using .head()

3) Subset the dataframe by creating a reference variable "sub_3_df" and create a new dataframe from the Product, Price, and City columns, and subset to only the last 10 rows. Display this new dataframe using .head()

4) Use .loc to display the first row of the "sub_3_df" dataframe.

5) Use .iloc to display the first row of the "sub_3_df" dataframe.

Be sure to accomplish each of these in a separate code cell.

Next we will want to group our dataframe and calculate some averages. Group your original dataframe (not a subset) by Product and City. Then calculate the average Price and Quantity and flatten the table.

The last thing we are going to do, is populate a simple visual. Use matplotlib.pyplot to create a simple bar graph with Product on the x axis and total quantity on the y axis